input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}


@keyframes bounce{
  0%, 20%, 60%, 100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  background-color: white;
}

form{
  background-color: #F26A21;
  color: white;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
  max-width: 730px;
  box-sizing: border-box;


}

form h1{
  font-size: 36px;
  text-align: center;
}

form fieldset{
  margin-top: 64px;
  border: 0;
}

form legend{
  margin-bottom: 40px;
}

form legend h2{
  font-size: 24px;
}

form .field{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

form .field-group{
  width: 200px;
}

li{
  list-style-type: none;
  margin-top: 20px;
  margin-left: auto;
  
}


form input{
  background-color: white;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px;
  

}

form label{
    font-size: 14px;
    margin-bottom: 8px;
}



form button{
  width: 260px;
  height: 56px;
  color: #F26A21;
  background-color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
}

form button:hover{
  animation: bounce 1s;
}

